<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess Celebrity</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link
    rel="stylesheet"
    href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css"
    type="text/css"
    />

    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

</head>
<body>
    <div class="header">
        <h1>Guess Your Celebrity</h1>
    </div>


    <div class="container1">
        <div class="row">
        <div class="col card-wrapper" data-player="Angelina Jolie">
                <div class="card border-0">
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="{{ url_for('static',filename='img/1.jpg') }}" alt="Card image cap">
                    </div>
                    <div class="card-body text-center mt-4">
                        <h4 class="text-uppercase card-title">Angelina Jolie</h4>
                        </p>
                    </div>
                </div>
            </div>            
            <div class="col card-wrapper" data-player="Brad Pitt">
                    <div class="card border-0">
                        <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                            <img class="w-100 h-100" src="{{ url_for('static',filename='img/2.jpg') }}" alt="Card image cap">
                        </div>
                        <div class="card-body text-center mt-4">
                            <h4 class="text-uppercase card-title">Brad Pitt</h4>
                            </p>
                        </div>
                    </div>
            </div>            
            <div class="col card-wrapper" data-player="Will Smith">
                    <div class="card border-0">
                        <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                            <img class="w-100 h-100" src="{{ url_for('static',filename='img/3.jpg') }}" alt="Card image cap">
                        </div>
                        <div class="card-body text-center mt-4">
                            <h4 class="text-uppercase card-title">Will Smith</h4>
                            </p>
                        </div>
                    </div>
            </div>  
            
            <div class="col card-wrapper" data-player="Hugh Jackman">
                <div class="card border-0">
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="{{ url_for('static',filename='img/6.jpg') }}" alt="Card image cap">
                    </div>
                    <div class="card-body text-center mt-4">
                        <h4 class="text-uppercase card-title">Hugh Jackman</h4>
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="col card-wrapper" data-player="Jennifer Lawrence">
                <div class="card border-0">
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="{{ url_for('static',filename='img/5.jpg') }}" alt="Card image cap">
                    </div>
                    <div class="card-body text-center mt-4">
                        <h4 class="text-uppercase card-title">Jennifer Lawrence</h4>
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="col card-wrapper" data-player="Denzel Washington">
                <div class="card border-0">
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="{{ url_for('static',filename='img/4.jpg') }}" alt="Card image cap">
                    </div>
                    <div class="card-body text-center mt-4">
                        <h4 class="text-uppercase card-title">Denzel Washington</h4>
                        </p>
                    </div>
                </div>
            </div>   
        </div>
    </div>
<!--
    <div class="container2">
        <div class="col-sm-4">
            <form action="http://localhost:5000/uploader" class="dropzone" id="dropzone" method="POST">
                <div class="dz-message needsclick" type="file">
                    <img src="drop.png" width="50vw" height="50vw"><br>
                    <span class="note needsclick">Drop files here or click to upload</span>
                </div>
                <button id="submitBtn" type="submit" class="btn btn-success">Classify</button>
            </form>
           
        </div>
    </div>
-->

<div class="container2">
    <form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
        <input type=file name=photo>
        <input id="submitBtn" type="submit">
    </form>
</div>


    <div class="container3">
        <div class="result" id="resultHolder">
            <h1>{{ actor_name }}</h1>
            <p>{{ actor_desc }}</p>
        </div>
    </div>
    
    
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!--
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>

    <script>
    // Dropzone has been added as a global variable.
    const dropzone = new Dropzone("div.dropzone", { url: "/file/post" });
    </script>

-->

</body>
</html>